name: Release

on:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  release:
    runs-on: ubuntu-latest
    environment: Release

    needs: [ci]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true

      - name: Publish to RubyGems
        uses: rubygems/release-gem@v1
        with:
          await-release: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: pkg/*.gem
          generate_release_notes: true
